.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem{
    padding: 10px;
    color: white;
}


.dialogsItem .active{
    color: gold;
}


.massages{
    padding: 10px;

}

.massages .massage{
 color: white;
}

.textArea{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.textArea button{
    width: 120px;
}

.textArea textarea{
    width: 500px;
}